{% extends 'twitclone/base.html' %}
{% load static %}

{% block content %}

<div class="flex h-screen">
    <div class="w-full max-w-sm p-8 flex flex-col items-start justify-center">
        <h1 class="text-4xl sm:text-5xl font-medium">Share your thoughts</h1>
        <h2 class="text-lg sm:text-2xl mt-3 sm:mt-6">Join quack today!</h2>

        <div class="flex flex-col gap-4 mt-12 w-full ">
            <a href="{% url "social:begin" "google-oauth2" %}" class="text-center shadow bg-[#4285f4] text-white px-8 py-4 rounded font-semibold">Sign up with Google</a>
            <a href="{% url "social:begin" "github" %}" class="text-center shadow bg-[#333] text-white px-8 py-4 rounded font-semibold">Sign up with Github</a>
            <a href="{% url 'signup' %}"
                class="text-center shadow bg-teal-700 text-white px-8 py-4 rounded font-semibold">Sign up with Email</a>
        </div>
        <p class="mt-8 text-sm">
            Already have an account?
            <a href="{% url 'login' %}" class="text-teal-700 underline">Login</a>
        </p>
    </div>
    <div class="w-full flex-1">
        <img src="{% static 'twitclone/img/landing.jpg' %}" alt="" class="w-full h-screen object-cover">
    </div>
</div>

{% endblock %}