<div class="w-full hidden sm:flex sm:basis-1/2 md:basis-2/3 
    p-4 sticky top-0 right-0 h-screen sm:flex-col sm:items-stretch justify-between">
    <div class="">
        <form action="/search/" method="GET" class="">
            <input name="q" value="{{ q }}" type="search" 
                class="border-gray-100 bg-gray-100" aria-abel="Search..."
                placeholder="Search..."
                autocomplete="off" autocapitalize="off">
        </form>
    </div>
    <div class="flex gap-4 items-center justify-end">
        <a 
            href="https://github.com/ar363/twitclone" 
            class="bg-teal-700 hover:bg-teal-600 text-white 
                px-3 py-2 rounded text-sm"
            target="_blank"
        >
            Github Page
        </a>
        <a href="/logout/" class="bg-red-600 hover:bg-red-500 text-white px-3 py-2 rounded text-sm">Logout</a>
    </div>
</div>