<nav class="lg:basis-72 flex-shrink-0 h-screen flex flex-col justify-between md:pr-2 sticky top-0 left-0">
    <div class="flex flex-col gap-2">
        <a href="/home/" class="logo">
            <div class="block lg:hidden text-3xl">Q</div>
            <div class="hidden lg:block text-lg">Quack</div>
        </a>
        <a href="/home/" class="nav-link">
            <div class="nav-link__icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z" />
                </svg>
            </div>
            <div class="nav-link__text">Home</div>
        </a>
        <a href="/home/me/" class="nav-link">
            <div class="nav-link__icon">

                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z" />
                </svg>
            </div>
            <div class="nav-link__text">Profile</div>
        </a>
        <a href="#tweet" data-turbo="false" class="nav-link bg-teal-700 text-white hover:bg-teal-600">
            <div class="nav-link__icon">

                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z" />
                </svg>
            </div>
            <div class="nav-link__text">Compose</div>
        </a>
    </div>
    <a class="flex items-center justify-center lg:justify-between py-4 lg:p-4 hover:bg-gray-300 rounded-xl cursor-pointer" href="/home/me/">
        <div class="flex items-center gap-4">
            <div class="flex-grow flex-shrink-0">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="@{{ user.username }}'s profile picture"
                    class="w-6 h-6 lg:w-12 lg:h-12 object-cover rounded-full" />
                {% else %}
                <img src="https://pfpgen.deta.dev/?username={{ user.username | urlencode }}&name={{ user.get_full_name | urlencode }}"
                    alt="@{{ user.username }}'s profile picture" class="w-6 h-6 lg:w-12 lg:h-12 object-cover rounded-full" />
                {% endif %}
            </div>
            <div class="hidden lg:block">
                <div class="font-bold">
                    {% if user.get_full_name %}
                    {{ user.get_full_name }}
                    {% else %}
                    {{ user.username }}
                    {% endif %}
                </div>
                <div class="text-sm">
                    @{{ user.username }}
                </div>
            </div>
        </div>
    </a>
</nav>