<turbo-frame id="main_app">
    <div class="px-6 py-3 w-full bg-teal-700 bg-opacity-10">
        <div class="font-semibold text-xl">
            {% if q %}
                Search for "{{ q }}"
            {% else %}
                Home
            {% endif %}
        </div>
    </div>
    <form action="/tweet/add/" method="post">
        {% csrf_token %}
        <textarea id="tweet" name="text" class="h-36 p-6" placeholder="What's happening?" aria-label="Write tweet"></textarea>
        <div class="flex items-center justify-between px-4 pb-2 border-b-2 border-b-gray-300">
            <div class=""></div>
            <div class="">
                <button type="submit" class="bg-teal-700 text-white px-6 py-3 rounded-full">Tweet</button>
            </div>
        </div>
    </form>
    <div class="">
        {% for tweet in tweets %}
            <div class="p-8 border-b-2 border-b-gray-300 flex gap-4">
                <div class="flex-grow-0 flex-shrink-0">
                    {% if tweet.author.profile_picture %}
                    <img src="{{ tweet.author.profile_picture.url }}" alt="@{{ tweet.author.username }}'s profile picture"
                        class="w-8 h-8 object-cover rounded-full" />
                    {% else %}
                    <img src="https://pfpgen.deta.dev/?username={{ tweet.author.username | urlencode }}&name={{ tweet.author.get_full_name | urlencode }}"
                        alt="@{{ tweet.author.username }}'s profile picture" class="w-8 h-8 object-cover rounded-full" />
                    {% endif %}
                </div>
                <div class="">
                    <div class="text-sm text-gray-700 flnex gap-1 flex-col sm:flex-row">
                        <div class="font-bold inline-block">
                            {% if tweet.author.get_full_name %}
                                {{ tweet.author.get_full_name }}
                            {% else %}
                                {{ tweet.author.username }}
                            {% endif %}
                        </div>
                        <div class="inline-block">  &middot; @{{ tweet.author.username }}</div>
                        <div class="mt-1 mb-4 sm:mb-2 text-xs">{{ tweet.created_at }}</div>
                    </div>
                    <div class="text-xl">{{ tweet.text }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</turbo-frame>