{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% tailwind_css %}

    <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.1.0/dist/turbo.es2017-umd.min.js" defer></script>
  </head>

  <body class="text-gray-800 bg-gray-200">
    {% block content %}{% endblock %}
    
    <script>
      addEventListener("turbo:submit-start", ({ target }) => {
        for (const field of target.elements) {
          field.disabled = true
        }
        target.querySelectorAll('button[type=submit]').forEach(t => {
          t.disabled = true
          t.textContent = 'Submitting...'
        })
      })
    </script>
  </body>
</html>
